<div class="container py-md-5">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Nueva solicitud de credito</strong>
  </div>

  <div class="card">
    <div class="card-body">
      <form>
        <app-user
          [user]="solicitudUsuario.usuario"
          [Habilitar]="usuarioNoExistente"
          (NewUser)="GetUser($event)"
        ></app-user>
        <app-monto-solicitar
          [montoSolicitado]="solicitudUsuario.solicitud.ValorSolicitado"
          (ValorSolicitado)="GetValorSolicitado($event)"
        ></app-monto-solicitar>
        <button
          *ngIf="!limpiarControles"
          type="button"
          class="btn btn-success float-right"
          (click)="CrearSolicitud()"
        >
          Guardar
        </button>
        <button
          *ngIf="limpiarControles"
          type="button"
          class="btn btn-danger float-right"
          (click)="Regresar()"
        >
          Regresar
        </button>
      </form>
    </div>
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="mensajeError !== undefined"
    >
      <strong>{{ mensajeError }}</strong>
    </div>
  </div>
</div>
