<div class="contanier py-md-5">
  <div class="card">
    <div class="alert alert-info" role="alert">
      <strong>Solicitud de credito actuales</strong>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="solicitudes.length <= 0">
      No se han registrado solicitudes de prestamo, por favor cree una   <a routerLink="/nuevaSolicitud">nueva solicitud</a>
    </div>
    <p >
    </p>
    <table class="table" *ngIf="solicitudes.length > 0">
      <thead>
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col"># Solicitud</th>
          <th scope="col">Valor del Monto</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody  *ngFor="let solicitud of solicitudes" >
        <tr>

          <td>{{solicitud.usuario.Cedula}}</td>
          <td>{{solicitud.usuario.Nombre}}</td>
          <th>{{solicitud.solicitud.Numero}}</th>
          <td>{{solicitud.solicitud.ValorSolicitado | currency:'USD':'symbol':'1.0'}}</td>
          <td>{{EstadoCredito(solicitud.solicitud.EstadoCredito)}}</td>
          <td>
            <a class="link" [routerLink]="['/historial']" [state]="{user: solicitud.usuario}" >Historial</a>
          </td>
          <td>
            <div>
              <div class="row">
                <div class="col-sm-2" *ngIf="solicitud.solicitud.EstadoCredito === 1 && !solicitud.solicitud.PagoCredito">
                  <button class="btn btn-success float-sm-right" [disabled]="solicitud.solicitud.PagoCredito" (click)="PagarPrestamo(solicitud)">Pagar</button>
                </div>
                <div class="col-sm-2" *ngIf="solicitud.solicitud.EstadoCredito === 1 && solicitud.solicitud.PagoCredito">
                  <button class="btn btn-info float-sm-right"  (click)="NuevaSolicitud(solicitud)">Nueva</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

